{% extends 'base.html' %} {% block content %}

<h1>Character Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ char.name }}</span>
                <p>Year {{ char.year }}</p>
                <p>Ability Level (Out of 10): {{ char.ability_score }}</p>
                <p>Description: {{ char.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'chars_update' char.id %}">Edit</a>
                <a href="{% url 'chars_delete' char.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}